{% extends 'base.html' %} 
{% block content %}
<body class="loggedin">
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
<a class="py-2 d-none d-md-inline-block" href=""><i class="fas fa-user-circle"></i> Profile</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>
</nav>

<form method="POST" class="chat_form">
    <h3>Enter the Chat Room</h3>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}">
        <button type="submit" name="join" class="create">Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Create a room</button>
</form>
{% endblock %}